<ion-view class="login-view auth-view" cache-view="false">
    <ion-content scroll="true">
        <div class="row">
            <div class="col col-center">
                <div class="card login-container" content-tabs tabsdata='tabsdata'>
                    <form name="registration_form" class="" novalidate ng-cloak>
                        <my-tabs>
                            <my-tab title="Registrazione">
                                <div class="list">

                                    <label class="item item-input">
                                        <input type="text" placeholder="Nome" name="user_name" ng-model="reg.nome">
                                    </label>

                                    <label class="item item-input">
                                        <input type="text" placeholder="Cognome" name="user_cognome" ng-model="reg.cognome">
                                    </label>

                                    <label class="item item-input">
                                        <!--<span class="input-label" style="color: #9F9F9F; font-size: 15px">Data di nascita</span>-->
                                        <!--TODO: handle in the form-reg's controller the type='date' instead of type='text'-->
                                        <input type="text" placeholder="Data di nascita" name="user_data" ng-model="reg.date"  ng-click="VerifyDate()" max="{{minAge | date:'yyyy-MM-dd'}}" onfocus="(this.type='date')">
                                    </label>


                                    <span style="color: #9F9F9F; font-size: 15px" class="item item-input">Sesso
                                         <select  style="margin-left: 5px" ng-model="reg.sex" required>
                                             <option value="F">F</option>
                                             <option value="M">M</option>

                                         </select>
                                    </span>

                                    <span style="color: #9F9F9F; font-size: 15px" class="item item-input">Università
                                         <select style="width: 100%; margin-left: 5px; font-size: 15px" id="UniversitySelector"
                                                 ng-model="reg.universita" ng-options="uni.id as uni.nome for uni in university">

                                             <option ng-repeat="uni in university" value="{{uni.id}}">{{uni.nome}}</option>
                                        </select>
                                    </span>

                                    <label class="item item-input">

                                        <input type="email" placeholder="Email" name="user_email" ng-model="reg.email" required>
                                        <span style="color:red" ng-show="registration_form.user_email.$dirty && login_form.user_email.$invalid"></span>
                                        <p ng-show="registration_form.user_email.$error.email" class="help-block" style="color: red">Inserisci una email valida.</p>
                                    </label>

                                    <label class="item item-input">
                                        <input type="text"
                                               ng-show="showPasswordIsChecked"
                                               placeholder=""
                                               ng-model="reg.password"
                                               required ng-pattern="/[\w\d]{3,15}/i"
                                               ng-focus="onPasswordFocus()"
                                               ng-blur="onPasswordBlur()">

                                        <input type="password"
                                               ng-show="!showPasswordIsChecked"
                                               placeholder="Password"
                                               name="user_password"
                                               ng-model="reg.password"
                                               minlength="5"
                                               maxlength="45">
                                        <p ng-show="registration_form.user_password.$error.minlength" class="help-block"
                                           style="color: red">Password troppo corta.</p>
                                        <p ng-show="registration_form.user_password.$error.maxlength" class="help-block"
                                           style="color: red">Password troppo lunga.</p>

                                    </label>
                                    <label class="item item-input">
                                        <input type="tel" placeholder="Telefono" name="phone" ng-model="reg.phone">
                                    </label>

                                    <ion-checkbox ng-model="showPasswordIsChecked">Mostra password</ion-checkbox>

                                </div>
                            </my-tab>
                        </my-tabs>
                        <div class="item item-body bottom-content">
                            <button style="background-color: rgba(255, 255, 255, 0.4); border: 2px solid #F47F18; color: #444;" type="submit" class="button button-positive button-block" ng-click="doRegister()"   ng-disabled="!registration_form.$valid">
                                Registrati
                            </button>
                        </div>
                    </form>
                </div>
                <div class="alternative-actions">
                    <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
                        Log In
                    </a>
                    <a class="sign-up button button-small button-clear button-light" ui-sref="auth.form-reg">
                        Registrati
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>