

<ion-view class="my_announcements-view" cache-view="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>I miei annunci</span>
    </ion-nav-title>
    <ion-content>


        <ion-tabs class="tabs-icon-bottom tabs-positive">

            <ion-tab title="Annunci Inseriti"
                     icon-on="ion-ios-list"
                     icon-off="ion-ios-list-outline",
                     ng-controller="MyAnnouncementsCtrl",
                     ng-click="getInfoMyAnnouncements(1)"
            >


                <ion-content has-tabs="true" >
                    <ion-refresher
                            on-refresh="doRefresh(0)">
                        > </ion-refresher>
                    <ion-item ng-if="my_empty" class="item-text-wrap">
                        <h3>Non sono presenti annunci per la categoria selezionata</h3>
                    </ion-item>
                    <ion-list scroll="false s-editing="isEditingItems
                              animation="fade-out"
                              delete-icon="icon ion-minus-circled" ng-if="!my_empty">
                        <div class="card">
                            <div class="item item-text-wrap" ng-repeat="info in info_my_ann" ng-click="showMenu(info)">

                                <h2>{{info.titolo}}</h2>
                                <h3>{{info.categoria}}</h3>
                                <p># candidature: {{info.num_cand}}</p>
                            </div>
                        </div>
                    </ion-list>
                </ion-content>

            </ion-tab>


            <ion-tab
                    title="Annunci da risolvere"
                    icon-on="ion-ios-clock"
                    icon-off="ion-ios-clock-outline",
                    ng-controller="MyAppliedAnnouncementsCtrl",
                    ng-click="getInfoMyAppliedAnnouncements(1)"
            >


                <ion-content has-tabs="true" >
                    <ion-refresher
                            pulling-text="Pull to refresh..."
                            on-refresh="doRefresh(1)">
                    </ion-refresher>
                    <ion-item ng-if="app_empty" class="item-text-wrap">
                        <h3>Non sono presenti annunci per la categoria selezionata</h3>
                    </ion-item>


                    <ion-list scroll="false s-editing="isEditingItems
                              animation="fade-out"
                              delete-icon="icon ion-minus-circled" ng-if="!app_empty">
                        <div class="card">
                            <div class="item item-text-wrap" ng-repeat="info in info_my_app_ann" ng-click="showMenu(info)">

                                <h2>{{info.titolo}}</h2>
                                <h3>{{info.categoria}}</h3>
                                <p># candidature: {{info.num_cand}}</p>
                            </div>
                        </div>
                    </ion-list>
                </ion-content>
            </ion-tab>



            <ion-tab title="Storico"
                     icon-on="ion-ios-gear"
                     icon-off="ion-ios-gear-outline"
                     ng-controller="HistoryCtrl"
                     ng-click="storico()"
            <!--ng-click="getInfoMyAnnouncements(1)"-->
            >

            <ion-content has-tabs="true" >


                <ion-tabs class="tabs-striped tabs-background-stable"  >

                    <ion-tab title="Annunci applicati">

                            <ion-content class="has-tabs">

                                <ion-list scroll="false s-editing="isEditingItems
                                          animation="fade-out"
                                          delete-icon="icon ion-minus-circled">
                                    <div class="card">
                                        <div class="item item-text-wrap" ng-repeat="app in applied" >

                                            <h2><b>{{app.titolo}}</b></h2>
                                            <h3><b>{{app.categoria}}</b></h3>
                                            <h4><b>descrizione:</b> {{app.descrizione}}</h4>
                                            <h4><b>email utente:</b> {{app.mail_pubblicante}}</h4>
                                            <h4><b>data pubblicazione:</b> {{app.data_pubblicazione}}</h4>

                                        </div>
                                    </div>
                                </ion-list>
                            </ion-content>


                    </ion-tab>

                    <ion-tab title="Miei annunci" >

                        <ion-content class="has-tabs" >
                            <ion-list scroll="false s-editing="isEditingItems
                                      animation="fade-out"
                                      delete-icon="icon ion-minus-circled">
                                <div class="card">
                                    <div class="item item-text-wrap" ng-repeat="m in my" >

                                        <h2><b>{{m.titolo}}</b></h2>
                                        <h3><b>{{m.categoria}}</b></h3>
                                        <h4><b>descrizione:</b> {{m.descrizione}}</h4>
                                        <h4><b>data pubblicazione:</b> {{m.data_pubblicazione}}</h4>

                                    </div>
                                </div>
                            </ion-list>
                        </ion-content>


                    </ion-tab>

                </ion-tabs>


            </ion-content>
            </ion-tab>

        </ion-tabs>

    </ion-content>
</ion-view>


