<ion-view class="profile-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Ricerc annuncio</span>
    </ion-nav-title>
    <ion-content>
        <div class="list">

            <a class="item item-thumbnail-left" ng-click="view('SM')">
                <img src="../www/img/category/SM.jpg">
                <h2>Sanitaria e Medica</h2>
                <p>Inserire frase</p>
            </a>
            <a class="item item-thumbnail-left" ng-click="view('ST')">
                <img src="../www/img/category/ST.jpg">
                <h2>Scienze e Tecnologie</h2>
                <p>Inserire frase</p>
            </a>
            <a class="item item-thumbnail-left" ng-click="view('UG')">
                <img src="../www/img/category/UG.jpg">
                <h2>Umanistica e Giuridica</h2>
                <p>Inserire frase</p>
            </a>
            <a class="item item-thumbnail-left" ng-click="view('E')">
                <img src="../www/img/category/E.jpg">
                <h2>Economica</h2>
                <p>Inserire frase</p>
            </a>
            <a class="item item-thumbnail-left" ng-click="view('CA')">
                <img src="../www/img/category/CA.jpg">
                <h2>Civile e Architettura</h2>
                <p>Inserire frase</p>
            </a>

        </div>
    </ion-content>
</ion-view>