<ion-view class="profile-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-title>
        <span>{{ann_cat}}</span>
    </ion-nav-title>
    <ion-content>

        <div id="search-bar" style="transform: translate3d(0px, 0px, 0px);">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Cerca..." ng-model="search.titolo" class="ng-pristine ng-valid ng-empty ng-touched">
                </label>
            </div>
        </div>


        <ion-refresher
                on-refresh="doRefresh(0)">
            > </ion-refresher>
        <ion-list scroll="false s-editing="isEditingItems
                  animation="fade-out">
            <div class="card">
                <div class="item item-text-wrap" ng-repeat="app in ann | filter:search" ng-click="showMenu(app)">
                    <h2><b>{{app.titolo}}</b></h2>
                    <h3><b>Mail pubblicante:</b> {{app.mail_pubblicante}}</h3>
                    <!--<h4><b>Data pubblicazione: </b> {{app.data_pubblicazione}}</h4>-->
                    <!--<h4><b>Data pubblicazione: </b>{{app.data_scadenza}}</h4>-->
                    <!--TODO: set red color-->
                    <h4 style="color: red"><b style="color: red">Giorni rimanenti: </b>{{app.giorni_rim}}</h4>
                    <!--TODO: set blue color-->
                    <h4 style="color: blue"><b style="color: blue">N&deg; candidati: </b>{{app.num_cand}}</h4>
                </div>
            </div>
        </ion-list>

    </ion-content>
</ion-view>