<!--<style>-->
<!--.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {-->
<!--border-color: transparent;-->
<!--background-color: transparent;-->
<!--border: solid 1px;-->
<!--color: transparent;-->

<!--}-->

<!--.item.active.item-light, .item.activated.item-light, .item-complex.active .item-content.item-light, .item-complex.activated .item-content.item-light, .item .item-content.active.item-light, .item .item-content.activated.item-light {-->
<!--border-color: transparent;-->
<!--background-color: transparent;-->
<!--border: solid 1px;-->
<!--color: transparent;-->
<!--}-->

<!--.item.active.item-stable, .item.activated.item-stable, .item-complex.active .item-content.item-stable, .item-complex.activated .item-content.item-stable, .item .item-content.active.item-stable, .item .item-content.activated.item-stable {-->
<!--border-color: transparent;-->
<!--background-color: transparent;-->
<!--border: solid 1px;-->
<!--color: transparent;-->
<!--}-->
<!--</style>-->


<ion-view class="post_announcement-view" cache-view="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Crediti</span>
    </ion-nav-title>
    <ion-content scroll="true">

        <div class="list">
            <div class="card">
                <div class="item item-text-wrap">
                    <a class="item item-avatar">
                        <img src="img/disagiati_logo.png" style="max-height: 40px; max-width: 70px;">
                        <p align="center" style="font-family:new Arial Bold Italic; font-size: 18px; padding-top: 15px;"><strong>Team Disagiati</strong></p>
                    </a>

                    <div style="padding: 10px 10px 10px 10px; text-align: justify;">
                        <p><strong>Descrizione</strong></p>
                        I "Disagiati" sono un gruppo di cinque amici che condividono la passione per l’informatica, ed in particolare per il campo dell’intelligenza artificiale. Si conoscono all’Università degli Studi di Napoli Parthenope ed insieme decidono di partecipare all’ Hackathon "Alberthon", una competizione di programmazione 24 ore no-stop che li vede vincitori.
                    </div>

                    <div class="card">
                        <a class="item item-avatar" ng-click="openBrowser('https://it.linkedin.com/in/francesco-battistone-324308120/en')" >
                            <img src="img/developers/fb.jpg">
                            <h2>Francesco Battistone</h2>
                            <h4 style="color: blue;">Sviluppo e Progettazione</h4>
                        </a>
                    </div>

                    <div class="card">
                        <a class="item item-avatar">
                            <img src="img/developers/al.jpg">
                            <h2>Antonio Liguori</h2>
                            <h4 style="color: blue;">Sviluppo e Progettazione</h4>
                        </a>
                    </div>

                    <div class="card">
                        <a class="item item-avatar" ng-click="openBrowser('https://it.linkedin.com/in/davide-nardone-127428102')">
                            <img src="img/developers/dn.jpg">
                            <h2>Davide Nardone</h2>
                            <h4 style="color: blue;">Sviluppo e Progettazione</h4>
                        </a>
                    </div>

                    <div class="card">
                        <a class="item item-avatar" ng-click="openBrowser('https://www.researchgate.net/profile/Gianmaria_Perillo')">
                            <img src="img/developers/gp.jpg">
                            <h2>Gianmaria Perillo</h2>
                            <h4 style="color: blue;">Sviluppo e Progettazione</h4>
                        </a>
                    </div>

                    <div class="card">
                        <a class="item item-avatar" ng-click="openBrowser('https://it.linkedin.com/in/vincenzosantopietro')">
                            <img src="img/developers/vs.jpg">
                            <h2>Vincenzo Santopietro</h2>
                            <h4 style="color: blue;">Sviluppo e Progettazione</h4>
                        </a>
                    </div>

                    <div style="padding: 10px 0 0 10px;">
                        <p><strong>Riferimenti:</strong></p>
                        <p>Mail: <a href="mailto:alberthonapp@gmail.com">alberthonapp@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--<br>-->
        <div class="list">
            <div class="card">
                <div class="item item-text-wrap">
                    <p align="center" style="font-family:new Arial Bold Italic; font-size: 18px; padding-top: 15px;"><strong>Team DKO</strong></p>
                    <div style="padding: 10px 10px 10px 10px; text-align: justify;">
                        <p><strong>Descrizione</strong></p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <div class="card">
                        <a class="item item-avatar" href="#">
                            <img src="img/developers/prof.jpg">
                            <h2></h2>
                            <p style="color: blue;"></p>
                            <p>mail: <strong></strong></p>
                        </a>
                    </div>
                    <div style="padding: 10px 0 0 10px;">
                        <p><strong>Riferimenti:</strong></p>
                        <p>Mail:</p>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>