<!--<style>-->
<!--.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {-->
<!--border-color: transparent;-->
<!--background-color: transparent;-->
<!--border: solid 1px;-->
<!--color: transparent;-->

<!--}-->

<!--.item.active.item-light, .item.activated.item-light, .item-complex.active .item-content.item-light, .item-complex.activated .item-content.item-light, .item .item-content.active.item-light, .item .item-content.activated.item-light {-->
<!--border-color: transparent;-->
<!--background-color: transparent;-->
<!--border: solid 1px;-->
<!--color: transparent;-->
<!--}-->

<!--.item.active.item-stable, .item.activated.item-stable, .item-complex.active .item-content.item-stable, .item-complex.activated .item-content.item-stable, .item .item-content.active.item-stable, .item .item-content.activated.item-stable {-->
<!--border-color: transparent;-->
<!--background-color: transparent;-->
<!--border: solid 1px;-->
<!--color: transparent;-->
<!--}-->
<!--</style>-->


<ion-view class="post_announcement-view" cache-view="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Crediti</span>
    </ion-nav-title>
    <ion-content scroll="true">

        <div class="list">
            <div class="card">
                <div class="item item-text-wrap">
                    <a class="item item-avatar">
                        <img src="img/disagiati_logo.png" style="max-height: 40px; max-width: 70px;">
                        <p align="center" style="font-family:new Arial Bold Italic; font-size: 18px; padding-top: 15px;"><strong>Team Disagiati</strong></p>
                    </a>

                    <div style="padding: 10px 10px 10px 10px; text-align: justify;">
                        <p><strong>Descrizione</strong></p>
                        I "Disagiati" sono un gruppo di cinque amici che condividono la passione per l’informatica, ed in particolare per il campo dell’intelligenza artificiale. Si conoscono all’Università degli Studi di Napoli Parthenope ed insieme decidono di partecipare all’ Hackathon "Alberthon", una competizione di programmazione 24 ore no-stop che li vede vincitori.
                    </div>

                    <div class="card">
                        <a class="item item-avatar" ng-click="openBrowser('https://it.linkedin.com/in/francesco-battistone-324308120/en')" >
                            <img src="img/developers/fb.jpg">
                            <h2>Francesco Battistone</h2>
                            <h4 style="color: blue;">Sviluppo e Progettazione</h4>
                        </a>
                    </div>

                    <div class="card">
                        <a class="item item-avatar" ng-click="openBrowser('https://www.researchgate.net/profile/Antonio_Liguori2')">
                            <img src="img/developers/al.jpg">
                            <h2>Antonio Liguori</h2>
                            <h4 style="color: blue;">Sviluppo e Progettazione</h4>
                        </a>
                    </div>
                    <div class="card">
                        <a class="item item-avatar" ng-click="openBrowser('https://it.linkedin.com/in/davide-nardone-127428102')">
                            <img src="img/developers/dn.jpg">
                            <h2>Davide Nardone</h2>
                            <h4 style="color: blue;">Sviluppo e Progettazione</h4>
                        </a>
                    </div>

                    <div class="card">
                        <a class="item item-avatar" ng-click="openBrowser('https://it.linkedin.com/in/gianmaria-perillo-b04679138/en')">
                            <img src="img/developers/gp.jpg">
                            <h2>Gianmaria Perillo</h2>
                            <h4 style="color: blue;">Sviluppo e Progettazione</h4>
                        </a>
                    </div>

                    <div class="card">
                        <a class="item item-avatar" ng-click="openBrowser('https://it.linkedin.com/in/vincenzosantopietro')">
                            <img src="img/developers/vs.jpg">
                            <h2>Vincenzo Santopietro</h2>
                            <h4 style="color: blue;">Sviluppo e Progettazione</h4>
                        </a>
                    </div>

                    <div style="padding: 10px 0 0 10px;">
                        <p><strong>Riferimenti:</strong></p>
                        <p>Mail: <a href="mailto:alberthonapp@gmail.com">alberthonapp@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--<br>-->
        <div class="list">
            <div class="card">
                <div class="item item-text-wrap">
                    <p align="center" style="font-family:new Arial Bold Italic; font-size: 18px; padding-top: 15px;"><strong>Team DKO</strong></p>
                    <div style="padding: 10px 10px 10px 10px; text-align: justify;">
                        <p><strong>Descrizione</strong></p>
                        Vediamo il design e la comunicazione come fonte di creatività che illumina emozioni a volte dimenticate, vogliamo ideare nuovi archetipi, che diventano icone, scrivendo il futuro con un continuo sguardo al passato.
                    </div>
                    <div class="card">
                        <div class="card">
                            <a class="item item-avatar" >
                                <img src="img/developers/ga.jpg">
                                <h2>Giovana Antunes</h2>
                                <h4 style="color: blue;">Art Director</h4>
                            </a>
                            <a class="item item-avatar" >
                                <img src="img/developers/ap.jpg">
                                <h2>Alessia Piccolo</h2>
                                <h4 style="color: blue;">Graphic Design</h4>
                            </a>
                        </div>
                    </div>
                    <div style="padding: 10px 0 0 10px;">
                        <p><strong>Riferimenti:</strong></p>
                        <p>Mail: <a href="mailto:designdko@gmail.com">designdko@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>