<ion-view cache-view="false" class="forms-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Quiz orientamento</span>
    </ion-nav-title>
    <ion-content>

        <label class="item item-input item-stacked-label item-text-wrap">
            <h2 ><b>Entri in libreria, verso quale sezione tematica ti rechi? </b></h2>
        </label>



        <ion-radio ng-repeat="tem in tematica" class="item-text-wrap"  ng-model="radioTematica.text" ng-value="tem.text" value="tem.text">
            {{tem.text}}
        </ion-radio>

        <ion-radio class="item-text-wrap"   ng-model="radioTematica.text" ng-value="'Altro'" >
            Altro
        </ion-radio>


        <textarea style="resize: none;width: 100%;"  placeholder="La tua risposta"   ng_model="obj.txtTematica" ng-minlength="1" ng-disabled=isThisDisabledTematica() ng-show=!isThisDisabledTematica() ></textarea>


        <button class="button button-block button-assertive" ng-click="submit(obj)" ng-disabled="isThisDisabled2Tematica(obj)">
           Submit
        </button>



    </ion-content>


</ion-view>
