<ion-view class="Mentor-view" cache-view="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Info Mentore</span>
    </ion-nav-title>
    <ion-content>

        <div style="height: 65%;">

            <img src="img/male_mentor.jpg" style="width: 100%;height: 100%;object-fit: cover;" >


        </div>
        <div class="row responsive-sm" style="padding: 0px; background: white; position: absolute; bottom: 0; right: 0;  left: 0;height: 35%;">
            <a class="item item-avatar" href="#">
                <img ng-if="mentor_data.sesso=='M'" ng-src="img/male.jpg" >
                <img ng-if="mentor_data.sesso=='F'" ng-src="img/female.jpg" >
                <h2> <b>{{mentor_data.nome}} {{mentor_data.cognome}} </b></h2>
                <!--TODO: Let the Tutor insert a personal sentence-->
                <p> Mentore dell'iniziativa Prometeo</p>
            </a>

            <a ng-href="mailto:{{mentor_data.mail}}" class="item item-icon-left" href="#">
                <i class="icon ion-android-mail"></i>
                {{mentor_data.mail}}
            </a>

            <a ng-href="tel:{{mentor_data.telefono}}" class="item item-icon-left">
                <i class="icon ion-android-call"></i>
                {{mentor_data.telefono}}
            </a>

            <a ng-href="sms:{{mentor_data.telefono}}" class="item item-icon-left">
                <i class="icon ion-android-textsms"></i>
                {{mentor_data.telefono}}
            </a>
        </div>

    </ion-content>
</ion-view>


