<ion-view>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button ng-click="openModalNote()" class="button" style=" background-color:#da6739;">
            <i class="glyphicon glyphicon-plus">
            </i> Aggiungi
        </button>
    </ion-nav-buttons>

    <ion-nav-title>
        <span>Note</span>
    </ion-nav-title>
    <ion-content>

        <div id="search-bar" style="transform: translate3d(0px, 0px, 0px);" ng-if="!empty_note">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Cerca..." ng-model="search.nota_titolo" class="ng-pristine ng-valid ng-empty ng-touched">
                </label>
            </div>
        </div>

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <ion-item ng-if="empty_note" class="item-text-wrap">
            <h3>Non ci sono note per la seguente attività.</h3>
        </ion-item>

        <div class="list card" ng-repeat="n in note | filter:search.nota_titolo" ng-if="!empty_note">
            <div class="item item-text-wrap">
                <b>
                    <h2>{{n.nota_titolo}}</h2>    <!--titolo delle note-->
                </b>
            </div>
            <div class="item item-body item-text-wrap">
                <p>{{n.nota_note}}</p>    <!--testo delle note-->
            </div>
        </div>
    </ion-content>
</ion-view>