<ion-view class="forms-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button style=" background-color: #da6739; border-color: #f8f8f8;" menu-toggle="right" class="button icon-left ion-home" ng-click="goToHome()"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Quiz orientamento</span>
    </ion-nav-title>

    <ion-content>
        <div style="border-style: none;" class="item item-text-wrap">
            <canvas width="80" id="doughnut" class="chart chart-doughnut" chart-data="getDati()" chart-labels="getLabels()" chart-options="getOptions()"> </canvas>
        </div>

        <div class="row" align="center">
            <div style="text-align: left;" class="col">{{ getRow(0).nome }}</div>
            <div style="text-align: right;" class="col">{{ getRow(0).prob | number:2}}%</div>
        </div>
        <div class="row" align="center">
            <div style="text-align: left;" class="col">{{ getRow(1).nome }}</div>
            <div style="text-align: right;" class="col">{{ getRow(1).prob | number:2}}%</div>
        </div>
        <div class="row" align="center">
            <div style="text-align: left;" class="col">{{ getRow(2).nome }}</div>
            <div style="text-align: right;" class="col">{{ getRow(2).prob | number:2}}%</div>
        </div>
        <div class="row" align="center">
            <div style="text-align: left;" class="col">{{ getRow(3).nome}}</div>
            <div style="text-align: right;" class="col">{{ getRow(3).prob | number:2}}%</div>
        </div>
        <div class="row" align="center">
            <div style="text-align: left;" class="col">{{ getRow(4).nome }}</div>
            <div style="text-align: right;" class="col">{{ getRow(4).prob | number:2}}%</div>
        </div>

        <button class="button button-block button-assertive"  ng-click="goToHome()">
            Home
        </button>

    </ion-content>

</ion-view>



