<ion-view >
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button type="button"  ng-click="openModal()" class="btn">
            <i class="glyphicon glyphicon-plus">
            </i> Add
        </button>
    </ion-nav-buttons>


    <ion-nav-title>
        <span>Piano studi</span>
    </ion-nav-title>

    <ion-content>



        <!--ion-scroll style="height:85%;"-->

            <ion-tabs class="tabs-icon-bottom tabs-positive">

                <ion-tab title="Da confermare"
                         icon-on="ion-ios-list"
                         icon-off="ion-ios-list-outline"
                         >

                    <ion-content has-tabs="true" overflow-scroll="true" >
                        <!--ion-refresher
                                on-refresh="doRefresh()">
                            ></ion-refresher-->
                        <label class="item item-input item-stacked-label item-text-wrap">
                            <h2 ><b>Check per inviare conferma conclusione attività</b></h2>
                        </label>

                        <ion-scroll style="height: 75%">
                            <ion-list radio-group >
                                <ion-item>
                                    <ion-label><b>Da confermare</b></ion-label>
                                    <!--ion-radio ng-repeat="row in piano" class="item-text-wrap" ng-if="row.stato=='da_completare'" ng-model="radioAttivita.text" ng-value="row.id" value="row.id">
                                       <b>{{row.nome}}</b> <br>tipo: {{row.tipo}}  cfu: {{row.cfu}}
                                    </ion-radio-->

                                    <ion-radio  class="item-text-wrap"  ng-model="radioAttivita.text">
                                        <b>row.nome</b> <br>tipo: row.tipo  cfu: 3
                                    </ion-radio>
                                    <ion-radio  class="item-text-wrap"  ng-model="radioAttivita.text">
                                        <b>row.nome</b> <br>tipo: row.tipo  cfu: 3
                                    </ion-radio>
                                    <ion-radio  class="item-text-wrap"  ng-model="radioAttivita.text">
                                        <b>row.nome</b> <br>tipo: row.tipo  cfu: 3
                                    </ion-radio>
                                    <ion-radio  class="item-text-wrap" ng-model="radioAttivita.text">
                                        <b>row.nome</b> <br>tipo: row.tipo  cfu: 3
                                    </ion-radio>
                                    <ion-radio  class="item-text-wrap"  ng-model="radioAttivita.text">
                                        <b>row.nome</b> <br>tipo: row.tipo  cfu: 3
                                    </ion-radio>
                                </ion-item>
                            </ion-list>
                        </ion-scroll>

                        <button class="button button-block button-assertive" style="bottom: 0px;position: fixed" ng-disabled="isThisDisabled2Attivita()" ng-click="Confirm()" ><b>SUBMIT</b></button>



                    </ion-content>
                </ion-tab>


                <ion-tab title="In attesa"
                         icon-on="ion-ios-list"
                         icon-off="ion-ios-list-outline"
                         >

                    <ion-content has-tabs="true" >
                        <!--ion-refresher
                                on-refresh="doRefresh()">
                            ></ion-refresher-->
                        <ion-list radio-group >
                            <ion-item>
                                <ion-label><b>In attesa</b></ion-label>
                                <ion-item  ng-repeat="row in piano" class="item-text-wrap" ng-if="row.stato=='pendente'">
                                    <b>{{row.nome}}</b> <br>tipo: {{row.tipo}}  cfu: {{row.cfu}}
                                </ion-item>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-tab>

                <ion-tab title="Completate"
                         icon-on="ion-ios-list"
                         icon-off="ion-ios-list-outline"
                        >

                    <ion-content has-tabs="true" >
                        <!--ion-refresher
                                on-refresh="doRefresh()">
                            ></ion-refresher-->
                        <ion-list radio-group >
                            <ion-item>
                                <ion-label><b>Confermate</b></ion-label>
                                <ion-item  ng-repeat="row in piano" class="item-text-wrap" ng-if="row.stato=='completato'">
                                    <b>{{row.nome}}</b> <br>tipo: {{row.tipo}}  cfu: {{row.cfu}}
                                </ion-item>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-tab>


            <!--ion-list radio-group >
                <ion-item>
                    <ion-label><b>Da confermare</b></ion-label>
                    <ion-radio ng-repeat="row in piano" class="item-text-wrap" ng-if="row.stato=='da_completare'" ng-model="radioAttivita.text" ng-value="row.id" value="row.id">
                       <b>{{row.nome}}</b> <br>tipo: {{row.tipo}}  cfu: {{row.cfu}}
                    </ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label><b>In attesa</b></ion-label>
                    <ion-item  ng-repeat="row in piano" class="item-text-wrap" ng-if="row.stato=='pendente'">
                        <b>{{row.nome}}</b> <br>tipo: {{row.tipo}}  cfu: {{row.cfu}}
                    </ion-item>
                </ion-item>
                <ion-item>
                    <ion-label><b>Confermate</b></ion-label>
                    <ion-item  ng-repeat="row in piano" class="item-text-wrap" ng-if="row.stato=='completato'">
                        <b>{{row.nome}}</b> <br>tipo: {{row.tipo}}  cfu: {{row.cfu}}
                    </ion-item>
                </ion-item>
            </ion-list-->

        <!--/ion-scroll-->
        <!--</div>-->
        <!--button class="button button-block button-assertive" ng-click="Confirm()" ng-disabled="!isThisDisabledAttivita()">
            SUBMIT
        </button-->
    </ion-content>




    <!--ion-footer-bar align-title="left" class="bar-assertive">
        <div class="buttons" >
            <button class="button">Left Button</button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons" ng-click="Confirm()">
            <button class="button">Right Button</button>
        </div>
    </ion-footer-bar-->
</ion-view>

