<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profilo</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image"  ng-if="profile.sesso_studente=='M'" ng-src="img/male.jpg" spinner-on-load>
            <img class="user-image" ng-if="profile.sesso_studente=='F'" ng-src="img/female.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">Benvenuto {{profile.nome_studente}}</div>
      </div>
      <div class="user-background-image-outer">
        <div ng-if="profile.sesso_studente=='M'" multi-bg="['img/male.jpg']"></div>
        <div ng-if="profile.sesso_studente=='F'" multi-bg="['img/female.jpg']"></div>
      </div>
    </div>


    <div ng-if="profile.borsa=='true'" style="padding: 0px 10px 10px 10px;" class="button-bar">
      <a class="button ion-person" ng-click="updateProfileData()">Profilo</a>
      <a class="button ion-bookmark">Piano studi</a>
    </div>

    <div ng-if="profile.borsa=='true'" style="padding: 10px 10px 0px 10px;" class="button-bar">
      <a class="button ion-person-stalker" ng-click="Mentor()">Info Mentor</a>
      <a class="button ion-bookmark">Attività</a>
    </div>


    <div ng-if="profile.borsa=='false'" class="button-bar">
        <button class="button icon ion-person" ng-click="updateProfileData()">Profilo</button>
    </div>

  </ion-content>
</ion-view>



