<ion-view class="walkthrough-view" cache-view="false">

    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
    <span>Prometeo</span>
    </ion-nav-title>

    <ion-content>
        <div > <img class="user-image"  ng-src="img/PaginaPrometeo_Dkoll.jpg" style="max-width: 100%;"></div>
        <!--<div class="list card">-->
            <div class="item item-body">
                <!--<img class="full-image" src="img/gif-prometeo.gif">-->
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/gCp9HAi6rtM" frameborder="1" width="560" height="315"></iframe>
                </div>
                <br>
                <div class="row">
                    <div class="col col-50">
                        <b style="color: #474037"> Chi siamo?</b>
                        <h5 class="custom_h5">
                            Una fondazione che persegue
                            l’obiettivo di sviluppare e diffondere
                            espressioni della cultura,
                            della ricerca e dell’arte quali
                            mezzi per il miglioramento della
                            qualità della vita e della coesione
                            sociale. La Fondazione
                            sviluppa e coordina progetti e
                            iniziative e s’impegna affinché
                            ogni persona abbia la possibilità
                            di esprimere il proprio potenziale
                            valorizzando la propria
                            diversità.
                        </h5>
                    </div>

                    <div class="col col-50">
                        <b style="color: #474037"> Cosa cerchiamo?</b>
                        <h5 class="custom_h5">
                            Giovani talenti. Determinazione,
                            passione e competenza
                            sono le principali caratteriste ricercate.
                            Non rileva principalmente
                            il tuo rendimento scolastico
                            o il tuo reddito quanto
                            l’audacia nel coltivare le tue
                            passioni ed i tuoi sogni.
                        </h5>
                    </div>

                </div>

                <div class="row">
                    <div class="col col-50">
                        <b style="color: #474037"> Cosa offriamo?</b>
                        <h5 class="custom_h5">
                            La concreta opportunità di poter
                            studiare e di poter accedere
                            al mondo del lavoro. E la concretezza
                            è la leva su cui vogliamo
                            far forza, portando dei dati
                            tangibili, che dimostrino, al di
                            là della retorica, il valore di un
                            investimento in formazione.
                        </h5>
                    </div>

                    <div class="col col-50">
                        <b style="color: #474037"> Come?</b>
                        <h5 class="custom_h5">
                            Fornendo a voi tutti un programma
                            di supporto all’orientamento
                            scolastico, allo studio
                            universitario. A coloro, invece,
                            che supereranno tutte le fasi
                            di selezione l’erogazione di 35
                            borse di studio di cui 30 annuali
                            e 5 quinquennali.
                        </h5>
                    </div>
                </div>
                <br>


                <!--<div class="item item-avatar">-->
                    <!--<img src="img/fondazione_diana.jpeg">-->
                    <!--<h3>Fondazione Diana</h3>-->
                    <!--<p><small>Giugno 2013</small></p>-->
                <!--</div>-->

                <div style="padding: 0px 0px 0px 0px;" class="row">
                    <div style="border-style: none" class="col col-20 col-top item item-avatar">
                        <img src="img/fondazione_diana_icon.jpeg">
                    </div>
                    <div class="col col-center">
                        <h3>Fondazione Diana</h3>
                        <small>Giugno 2013</small>
                    </div>
                </div>

                <hr style="background-color: #444444;">

                <div class="row">
                    <div class="col">
                        <b>Info:</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col"><small>42 Via Cesare Battisti</small></div>
                    <div class="col"><small>81100 Caserta</small></div>
                </div>

                <div class="row">
                    <div class="col"><small>Telefono: 0823 328515</small></div>
                </div>

            </div>
        <!--</div>-->
    </ion-content>
</ion-view>