<style>
    .item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
        border-color: transparent;
        background-color: transparent;
        border: solid 1px;
        color: transparent;

    }

    .item.active.item-light, .item.activated.item-light, .item-complex.active .item-content.item-light, .item-complex.activated .item-content.item-light, .item .item-content.active.item-light, .item .item-content.activated.item-light {
        border-color: transparent;
        background-color: transparent;
        border: solid 1px;
        color: transparent;
    }

    .item.active.item-stable, .item.activated.item-stable, .item-complex.active .item-content.item-stable, .item-complex.activated .item-content.item-stable, .item .item-content.active.item-stable, .item .item-content.activated.item-stable {
        border-color: transparent;
        background-color: transparent;
        border: solid 1px;
        color: transparent;
    }
</style>


<ion-view class="post_announcement-view" cache-view="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>Inserisci annuncio</span>
    </ion-nav-title>
    <ion-content scroll="false">


        <form name="post_project_form" class="" novalidate ng-cloak>

            <label class="item item-input item-stacked-label">
                <span class="input-label"><b>Titolo*</b></span>
                <input type="text" ng-model="proj.title" required>
            </label>

            <div ng-class="list" required>
                <!--Click here to disable all the form fields:<input type="checkbox" ng-model="all"><br>-->
                <label class="item item-input item-select">
                    <div class="input-label">
                        <b>Categoria*</b>
                    </div>
                    <select ng-model="proj.category">
                        <option ng-selected="true">---Seleziona Categoria---</option>
                        <option value="Sanitaria e Medica">Sanitaria e Medica</option>
                        <option value="Scienze e Tecnologie">Scienze e Tecnologie</option>
                        <option value="Umanistica e Giuridica">Umanistica e Giuridica</option>
                        <option value="Umanistica e Giuridica">Umanistica e Giuridica</option>
                        <option value="Economica">Economica</option>
                        <option value="Civile e Architettura">Civile e Architettura</option>
                    </select>
                </label>
            </div>

            <a class="item">
                <div style="padding: 0px 0px 5px 0px;">
                    <b>Titolo: </b><h2 style="display: inline !important">PROVA</h2><br>
                </div>
                <div style="padding: 0px 0px 5px 0px;">
                    <b>Titolo: </b><h2 style="display: inline !important">PROVA</h2><br>
                </div>
                <div style="padding: 0px 0px 5px 0px;">
                    <b>Titolo: </b><h2 style="display: inline !important">PROVA</h2><br>
                </div>
                <div style="padding: 0px 0px 5px 0px;">
                    <b>Titolo: </b><h2 style="display: inline !important">PROVA</h2><br>
                </div>
            </a>


            <div class="item item-body bottom-content">
                <button type="submit" class="button button-block button-assertive">
                    Inserisci Annuncio
                </button>
            </div>

        </form>

    </ion-content>
</ion-view>