<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row home_background"></div>

    <div class="row responsive-sm" style="padding: 0px; background: white; position: absolute; bottom: 0; right: 0;  left: 0;">
      <div class="col" style="margin-bottom: 0px; padding: 0px 5px 0px 5px;">
        <a style="background-color: rgba(255, 255, 255, 0.4); border: 2px solid #E5A98C; color: #444;" class="login button button-block button-stable" ui-sref="auth.login">
          Log In
        </a>
        <a style="background-color: rgba(255, 255, 255, 0.4); border: 2px solid #BF737E; color: #444;" class="sign-up button button-block button-stable"  ng-click="Ospite()"><!--ui-sref="app.feeds-categories"-->
          Ospite
        </a>
        <a style="background-color: rgba(255, 255, 255, 0.4); border: 2px solid #0BBBB8; color: #444;" class="reg button button-block button-stable"  ui-sref="auth.form-reg">
          Registrati
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
