<ion-modal-view>
    <!--ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons-->
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Termini e Condizioni</h1>
        <button class="button button-clear button-primary" ng-click="close()">Esci</button>
    </ion-header-bar>

    <!--ion-nav-title>
        <span align="center">Termini e Condizioni</span>
    </ion-nav-title-->

    <ion-content class="has-header iframe-wrapper" scroll="true" overflow-scroll="true">

        <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

        <iframe data-tap-disabled="true" src="https://www.iubenda.com/privacy-policy/8040858" class="iubenda-white no-brand iub-body-embed iubenda-embed" style="height:100%;width:100%;">
            <p>Your browser does not support iframes.</p>
        </iframe>


    </ion-content>
</ion-modal-view>